body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav {
  display: inline-block;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 0;
  padding: 0;
}

input {
  outline: none;
}

textarea {
  outline: none;
  resize: none;
}

.container {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo__word {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo__word--header {
  color: #000;
}

.logo__word--footer {
  color: #fff;
}

.page-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.page-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  display: none;
}

.contact-list {
  display: none;
}

.burger-button {
  background-color: transparent;
}

.burger-button:hover, .burger-button:focus {
  color: #2196f3;
}

.burger-button__icon {
  fill: currentColor;
}

.mobile-menu {
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: #fff;
}

.mobile-menu.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
}

.menu-close-button:hover, .menu-close-button:focus {
  color: #2196f3;
}

.menu-close-button__icon {
  fill: currentColor;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196f3;
}

.mobile-menu-contacts {
  margin-bottom: 64px;
}

.mobile-menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-tel__link {
  font-family: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-menu-mail__link {
  font-family: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-menu-networks__item:not(:last-child) {
  margin-right: 10px;
}

.mobile-menu-networks__item:not(:last-child)::after {
  content: "";
  width: 0;
  height: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.mobile-menu-networks__link {
  font-family: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.hero-box {
  width: 480px;
  height: 400px;
  background-color: #2f303a;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 118px 60px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/mobile/mobile-hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/mobile/mobile-hero.jpg);
  background-size: 480px 400px;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-box {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/mobile/mobile-hero@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/mobile/mobile-hero@2x.jpg);
  }
}

.hero-box__title {
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}

.order-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
  min-width: 200px;
  margin-top: 30px;
  border-radius: 4px;
  padding: 10px 32px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover, .order-button:focus {
  background-color: #188ce8;
}
/*# sourceMappingURL=main.css.map */