.features-box__title--visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.features-list {
  @media screen and(min-width:768px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }

  @media screen and(min-width:1200px) {
    flex-wrap: nowrap;
    margin-top: 0;
    margin-left: 0;
  }
}

.features-list__item {
  @media screen and(min-width:768px) and(max-width:1199px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }

  &:not(:last-child) {
    margin-bottom: 30px;

    @media screen and(min-width:768px) {
      margin-bottom: 0px;
    }

    @media screen and(min-width:1200px) {
      margin-right: 30px;
    }
  }
}

.features-list__picture {
  text-align: center;
  padding: 25px 0;
  background-color: $secondary-background-color;
}

.features-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;

  @media screen and(min-width:768px) {
    text-align: start;
  }
}

.features-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $text-secondary;
  margin-top: 10px;
}
