.footer-box {
  background-color: $secondary-theme-color;
}

.footer-content {
  text-align: center;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    padding: 0 80px;
  }
}

.footer-contacts {
}

.adress-section {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #fff;
  margin-top: 20px;
}

.adress-list {
  margin-top: 8px;
}

.adress-list__item:not(:last-child) {
  margin-bottom: 8px;
}

.adress-list__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $theme-color;
  }
}
