.logo {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: $theme-color;
  margin-top: auto;
  margin-bottom: auto;
}

.logo__word {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: $theme-color;
}

.logo__word--header {
  color: #000;
}

.logo__word--footer {
  color: #fff;
}
