// mobile-menu

.burger-button {
  background-color: transparent;
  &:hover,
  &:focus {
    color: $theme-color;
  }

  @media screen and(min-width:"768px ") {
    display: none;
  }
}

.burger-button__icon {
  fill: currentColor;
}

.mobile-menu {
  position: fixed;
  z-index: 2;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 8vw;
  background-color: #fff;

  &.is-open {
    display: flex;
  }
}

.menu-close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;

  &:hover,
  &:focus {
    color: $theme-color;
  }
}

.menu-close-button__icon {
  fill: currentColor;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-family: $primary-font;
  font-weight: 500;
  font-size: 8vw;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $text-primary;

  &:hover,
  &:focus {
    color: $theme-color;
  }
}

.mobile-menu__link--active {
  color: $theme-color;
}

.mobile-menu-contacts {
  margin-bottom: 64px;
}

.mobile-menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-tel__link {
  font-family: $text-primary;
  font-style: normal;
  font-weight: 500;
  font-size: 7vw;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $theme-color;
}

.mobile-menu-mail__link {
  font-family: $text-primary;
  font-style: normal;
  font-weight: 500;
  font-size: 5vw;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: $text-secondary;
}

.mobile-menu-networks {
  display: flex;
}

.mobile-menu-networks__item:not(:last-child) {
  margin-right: 10px;
}

.mobile-menu-networks__item:not(:last-child)::after {
  content: "";
  width: 0;
  height: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.mobile-menu-networks__link {
  font-family: $text-primary;
  font-style: normal;
  font-weight: 500;
  font-size: 4vw;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $theme-color;
}
