.form-label {
  display: block;
  margin-bottom: 10px;
}

.form-label__name {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $text-secondary;
  margin-bottom: 4px;
}

.form-label__input-box {
  display: block;
  position: relative;
}

.form-label__input-item {
  display: block;
  width: 100%;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: $theme-color;
  }
}

.form-label__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form-label__input-item:focus + & {
    color: $theme-color;
  }
}

.form-label__textarea-item {
  display: block;
  width: 100%;
  min-height: 120px;
  padding: 16px 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    border-color: $theme-color;
  }
}

.form-check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.form-check__input-item {
  appearance: none;
  position: absolute;
}

.form-check__input-icon {
  display: block;
  border: 2px solid rgba(33, 33, 33, 1);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form-check__input-item:checked + & {
    background-color: $theme-color;
    border-color: $theme-color;
  }
}

.form-check__text {
  display: block;
  margin-left: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $text-secondary;
}

.form-check__link {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: underline;
  color: $theme-color;
}

.form-button {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  min-height: 50px;
  background-color: $theme-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
