.projects-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.project-card {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project-card__content {
  position: relative;
  overflow: hidden;
}

.project-card__picture {
  width: 100%;
  height: auto;
}

.project-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  padding: 77px 24px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .project-card:hover &,
  .project-card:focus & {
    transform: translateY(0);
  }
}

.project-card__text {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}

.project-card__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $text-primary;
}

.project-card__category {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $text-secondary;
  margin-top: 4px;
}
