.team-box {
  background-color: $secondary-background-color;
}

.team-box__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-list {
  margin-top: 30px;
}

.team-list__item {
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  max-width: 270px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-list__description {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team-list__member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-list__member-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $text-secondary;
  margin-top: 10px;
  margin-bottom: 16px;
}
